<!DOCTYPE html>
<html
  class="dark"
  lang="en"
  th:fragment="parent(content,title,script)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-th-replace="${title}">Base Page</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link rel="stylesheet" data-th-href="@{'/css/style.css'}" />

    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <!-- font awosome Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="dark:bg-gray-800 bg-gray-500 dark:text-white">
    <!-- comman header -->

    <!-- if user logged in :Navbar -->
    <div th:if="${loggedInUser}">
      <div data-th-replace="~{user/user_navbar :: user_navbar}"></div>

      <!-- maint content -->
      <div class="p-5">
        <section data-th-replace="${content}"></section>
      </div>
    </div>

    <!-- if user not logged in : Navbar -->
    <div th:unless="${loggedInUser}">
      <div data-th-replace="~{navbar :: navbar}"></div>
      <div class="p-5">
        <!-- maint content -->
        <section data-th-replace="${content}"></section>
      </div>
    </div>

    <!-- comman footer -->
    <!-- <footer class="p-4">Footer comman =-------</footer> -->

    <!-- flowbite script -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <!-- sweet alert script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
    <th:block data-th-replace="${script}"></th:block>
  </body>
</html>
